  
  <header class="header">
      <div class="card text-center bg-secondary">
          <div class="card-header container" >
          
      <div >
      </div>
        <ul class="menu nav nav-pills card-header-pills" id='ulHeader'>
      <li class="nav-item">
        <a  href="/" class='navbar-brand logo' ></a>
      </li> 

      <li class="nav-item">

      <form action='' method="get">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </li>

      <li class="nav-item">
      <button class="btn btn-outline-primary bg-dark my-2 my-sm-0 " type="submit">Search</button>
         
      </form>
      </li>
      
      <li class="nav-item ">
          <a class="myClassHeader nav-link headactive"  href='index'>Home</a>
      </li> 

      <li class="nav-item">
          <a class="myClassHeader nav-link headactive" href='gallery'>Gallery</a>
      </li>

      <li class="nav-item">
          <a class="myClassHeader nav-link headactive" href='about'>About</a>
      </li>

      <li class="nav-item ">
          <a class="myClassHeader nav-link headactive" href='tasks'>Tasks</a>
      </li>

      <li class="nav-item">
          <a class="myClassHeader nav-link headactive" href='contacts'>Contacts</a>
      </li>
      
      <li class="nav-item dropdown">
          <a class="myClassHeader nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"  aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="../test">one</a>
            <a class="dropdown-item" href="#two">two</a>
            <a class="dropdown-item" href="#three">three</a>
          </div>
      </li>
      
      <li class="nav-item">
      <svg width="2em" height="2em" style="color: white;" viewBox="0 0 16 16" class="bi bi-justify" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
</svg>

      </li>
  
      </ul>
     </div>
  </div>
  </header>
