                  <br>
                  <br>
                  <br>
                <h3>More information about this site-portifolio</h3>
                <p>При создании этого сайта были использованы слудующие ЯП, фреймворки и библиотеки: JS, HTML, Bootstrap, Express</p>
                <ul>
                  <li>В оформлении сайта повсеместно использованы стили Bootstrap (исключение составляют некоторые компоненты контента, в которых структура предполагает индивидуальное оформление, там стили были написаны на нативном css). </li>
                  <li>Язык программирования JavaScript представлен на сайте, в основном, в виде клиентского кода и отображен на странице Task и Gallery. Task показывает малые задачи, выполненные на JS, в Gallery представленны более крупные объекты, включающие в себя систему предварительного подсчета стоимости услуг и  двойной слайдер (все картинки, использованные на страницe Галерея взяты из открытых источников и не будут использованы в коммерческих проектах. Картинка из фона взята из личного архива фотографий). </li>
                  <li>У данного сайта есть свой бэкэнд)). Сервер работает на фреймворке NodeJS Express. Архитектура сайта построена следующим образом: основные старницы контента содержат базовый html код, к которому подключены header, footer, metaList, scriptList. В металисте содержится информация обо всех мета данных подключенных на странице, при этом в скриптлисте содержится только общий скрипт. Локальные скрипты подключены индивидуально на соответствующих страницах контента. Все шаблоны и блоки подключены с помощью движка Express EJS.  Форма на этой странице (ежегодная рассылка), также интегрирована с сервером и в дальнейшем будет связана с базой данных.</li>
                  <li>ОПП на сайте представлен в виде, пока что единственного, модуля ActiveList. Данный модуль позволяет проставлять класс .active активным ссылкам. На сайте используется лишь один экземляр этого класса (класс по сути, не очень полезный, однако он вполне работоспособный и работает с возможностями event DOM элементов).</li>

                </ul>
                <br>
                <br>
                <br>
                <br>
                <br>


