
<!DOCTYPE html>
  <html lang="ru">
  <head>
 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="style.css">  
    <link rel='shortcut icon' href='favicon.ico' type='image/ico'>
    <title>{{ title }}</title>


  </head>


  <body class='block'>
    {{> header }}

                  <div class="main">
                    <div class="container">
                      <div class="content">
                 
                          <main>

                    <h5 class="card-title">Web developer - portfolio</h5>


                          
                        <div class='container-fluid'>
                          {{{body}}}
                        </div>


                          </main>

                      </div>
                    </div>
                  </div>


    {{> footer }}
    

    <script defer src="bundle.js"></script>
    <script defer src="main.js"></script>
  </body>
</html>
