
<div class='row' id='about'>
  <div class='col-lg-5 col-md-12 col-sm-12'>
    <div class='formGetLetters'> </div>

  </div>
</div>

    <div class='about-success'></div>

    <div class="moreInfo">
        <div class="row">
          <div class="col-8"  justify-content-start >
                <div class='hideMoreInfo' style='display:none' >
                                {{>moreInfo}}
                </div>
          </div>
        </div>
    </div>


