  <div class='row'>
 
    <div class='col-lg-4  col-md-6 col-sm-12' id='blockComments'>

              <form method='post' action='contacts' class="formSpam">
          <div class="form-group">
            <label for="exampleFormControlInput1">Name/Username</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name/username" id='inpNameForComm' name='nameForComment'>
          </div>
          
          <div class="form-group">
            <label for="texarForComm"> Textarea</label>
            <textarea class="form-control"  rows="5" id='texarForComm' name='texarForComment'></textarea>
             <div class=""> Please enter a message in the textarea.  </div>
          </div>

         
          <div class="form-group">
            <button type="submit" class="btn btn-primary"  id='buttForComment'>Post comment</button>
          </div>
        </form>


  </div>

    <div class='col-lg-4 col-md-6 col-sm-12' >
    <p> {{isComment}}</p><hr>
  <ul>
    <li>


      {{#each posts}}

            <h4>{{this.name}}</h4><br>

            <p> {{this.body}} </p>

      {{/each}}

      <hr>
    </li>
  </ul>

    </div>
<!--
    <div class='col-lg-4 col-md-12 col-sm-12 getAuth' >

  </div>
  -->
  </div>
 



