  <div class='row'>
 
    <div class='col-lg-4  col-md-6 col-sm-12' id='blockComments'>
                <p> {{isComment}}</p><hr>
    </div>


    <div class='col-lg-4 col-md-6 col-sm-12' >
                    <ul>
                        {{#each posts}}
                      <li>
                              <h4>{{this.name}}</h4><br>
                              <p> {{this.body}} </p>
                        <hr>
                      </li>
                        {{/each}}
                    </ul>
    </div>

</div>
 



