
<!doctype html>
  <html lang="ru">
  <head>
    <%- include("blocks/metaList.html") %>
  </head>


  <body class='block'>

    <%- include("blocks/header.html") %>
        
 <div class="card-body">
    <h5 class="card-title">Web developer - portfolio</h5>
        <div class='container-fluid'>
          <main>


<p>Not found</p>
<p>Not found</p>
<p>Not found</p>
<p>Not found</p>
<p>Not found</p>
<p>Not found</p>
<p>Not found</p>
<p>Not found</p>
<p>Not found</p>
<p>Not found</p>
<p>Not found</p>



          </main>
        </div>
</div>

    <%- include("blocks/footer.html") %>
    <%- include("blocks/scriptList.html") %>
  </body>
</html>
