       
          <div class="row">
            <div class="col-8"  justify-content-start>
              <div class="massegeFormDb">
                 <h4> {{addressIs}}  </h4>
              </div>
            </div>
          <div class="row">
            <div class="col-8"  justify-content-start>
              <div class="sandingInfo">
                    <h2>Вы подписанны на ежегодную новостную рассылку
                            {{#if data.check}}
                              , а также, на рассылку картинок забавных животных
                            {{/if}}
                            
                   !</h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-8"  justify-content-start >
              <div class="moreInfo">
                            {{#if data.moreInfo}}
                                {{>moreInfo}}
                            {{/if}}
                
              </div>
            </div>
          </div>

          

