
<!doctype html>
  <html lang="ru">
  <head>
    <%- include("blocks/metaList.ejs") %>
  </head>


  <body class='block'>

    <%- include("blocks/header.ejs") %>
        
 <div class="card-body">
    <h5 class="card-title">Web developer - portfolio</h5>
      <a href="/" class="btn btn-primary">Return to home page</a>
        <div class='container-fluid'>
          <main>



          <h3>Подпишитесь на ежегодную рассылку!</h3>
            <form method='post' action='about'>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" name='email 'id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
             
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name='check' id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Agreement for sending media-files (free pictures of funny animals)</label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>



          </main>
        </div>
</div>

    <%- include("blocks/footer.ejs") %>
    <%- include("blocks/scriptList.ejs") %>
  </body>
</html>

