
<!doctype html>
  <html lang="ru">
  <head>
    <%- include("blocks/metaList.html") %>
  </head>


  <body class='block'>

    <%- include("blocks/header.html") %>
        
 <div class="card-body">
    <h5 class="card-title">Web developer - portfolio</h5>
        <div class='container-fluid'>
          <main>


  <div class='row'>
 
    <div class='col-lg-4  col-md-6 col-sm-12' id = 'blockComments'>

              <form method='post' action='contacts' >
          <div class="form-group">
            <label for="exampleFormControlInput1">Name/Username</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name/username" name='nameForComment'>
          </div>
          
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name='texarForComment'></textarea>
          </div>

         
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Post comment</button>
          </div>
        </form>


  </div>

    <div class='col-lg-3 col-md-6 col-sm-12' >
  <ul>
    <% posts.forEach(function(post){ %>
    <li>
      <%= post.name  %> <br>
      <%= post.body  %> <br>
    </li>
    <% }) %>
  </ul>

    </div>

    <div class='col-lg-5 col-md-12 col-sm-12'> </div>

   
  </div>
 


    <script src = "/public/js/accord.js"></script>
    <script src = "/public/js/tableSpiral.js"></script>
    <script src = "/public/js/tableTranspose.js"></script>
    <script src = "/public/js/sortByClick.js"></script>
    <script src = "/public/js/zapretSosedyam.js"></script>
    <script src = "/public/js/gameX0.js"></script> 
    <script src = "/public/js/simpleCalc.js"></script>




          </main>
        </div>
</div>

    <%- include("blocks/footer.html") %>
    <%- include("blocks/scriptList.html") %>
  </body>
</html>
