

<!doctype html>
  <html lang="ru">
  <head>
    <%- include("blocks/metaList.ejs") %>
  </head>


  <body class='block'>

    <%- include("blocks/header.ejs") %>
    <%- include("blocks/main.ejs") %>
     <%- include("blocks/footer.ejs") %>
    <%- include("blocks/scriptList.ejs") %>
  </body>
</html>
