
<!doctype html>
  <html lang="ru">
  <head>
    <%- include("blocks/metaList.ejs") %>
  </head>


  <body class='block'>

    <%- include("blocks/header.ejs") %>
        
 <div class="card-body">
    <h5 class="card-title">Web developer - portfolio</h5>
      <a href="/" class="btn btn-primary">Return to home page</a>
        <div class='container-fluid'>
          <main>
            <p>Index</p>
            <p>Index</p>
            <p>Index</p>
            <p>Index</p>
            <p>Index</p>
            <p>Index</p>
            <p>Index</p>
            <p>Index</p>
            <p>Index</p>
            <p>Index</p>
            <p>Index</p>

          </main>
        </div>
</div>

    <%- include("blocks/footer.ejs") %>
    <%- include("blocks/scriptList.ejs") %>
  </body>
</html>

