
<!doctype html>
  <html lang="ru">
  <head>
    <%- include("blocks/metaList.ejs") %>
  </head>


  <body class='block'>

    <%- include("blocks/header.ejs") %>
        
 <div class="card-body">
    <h5 class="card-title">Web developer - portfolio</h5>
        <div class='container-fluid'>
          <main>






<div class='row'>
  <div class='col'>

  <div id="accord">
    

    <div class="task">
      <div class="linkTo"> <a href="#" >Table Spiral</a> </div>
        <div class="text"> <div id = 'blockSpiral'></div> </div>
    </div> 

    <div class="task">
      <div class="linkTo"> <a href="#" >Table Transpose</a> </div>
        <div class="text"> <div id = 'transpose'></div> </div>
    </div>

    <div class="task">
      <div class="linkTo"> <a href="#" >Table - sort by click</a> </div>
        <div class="text"><div id = 'sortByClick'></div></div>
    </div>

    <div class="task">
      <div class="linkTo"> <a href="#" >ZapretSosedyam</a> </div>
        <div class="text"><div id = 'zapretSosedyam'></div></div>
    </div>

    <div class="task">
      <div class="linkTo"> <a href="#" >Game X-0</a> </div>
        <div class="text"><div id = 'gameX0'></div></div>
    </div>

    <div class="task">
      <div class="linkTo"> <a href="#" >Simple Calculator</a> </div>
        <div class="text"><div id = 'simpleCalc'></div></div>
    </div>

  </div>
  </div>
</div>



          </main>
        </div>
</div>

    <%- include("blocks/footer.ejs") %>
    <%- include("blocks/scriptList.ejs") %>

    <script src = "/public/js/accord.js"></script>
    <script src = "/public/js/tableSpiral.js"></script>
    <script src = "/public/js/tableTranspose.js"></script>
    <script src = "/public/js/sortByClick.js"></script>
    <script src = "/public/js/zapretSosedyam.js"></script>
    <script src = "/public/js/gameX0.js"></script> 
    <script src = "/public/js/simpleCalc.js"></script>


  </body>
</html>
