<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
    <%- include("blocks/metaList.ejs") %>
</head>
<body>
<h1>ilkjlkj</h1>  
<h3></h3>
    <%- include("blocks/scriptList.ejs") %>
</body>
</html>
