<header>
<div class='container-fluid'>
  <div class="card text-center bg-secondary">
    <div class="card-header">

        <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
            <span>zm412</span>
      </li> 

      <li class="nav-item">
      <form action='' method="get">
      <input type='search' value='Поиск'>
      <input type='submit' value='Поиск'>
      </form>
         
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href='index'>Home</a>
      </li> 

      <li class="nav-item">
        <a class="nav-link" href='gallery'>Gallery</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href='about'>About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href='contacts'>Contacts</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#one">one</a>
          <a class="dropdown-item" href="#two">two</a>
          <a class="dropdown-item" href="#three">three</a>
        </div>
      </li>
    </ul>
    </div>
  </div>
</div>

</header>
