
.tblGameX0{
		border: 2px solid black;
		border-collapse: collapse;
		position: absolute; 
			top: 30%; 
			left: 35%; 
			width: 25%; 
			height: 25%; 
	}
 
  table {
		border: 1px solid black;
		border-collapse: collapse;
  }

  td, th{
		text-align: center;
		border: 1px solid black;
  }

.tdGameX0 {
  color: blue;
  width: 30px;
  height: 25px;
}

