
<!DOCTYPE html>
  <html lang="ru">
  <head>
    {{> metaList }}
  </head>


  <body class='block'>
    {{> header }}

                  <div class="main">
                    <div class="container">
                      <div class="content">
                 
                          <main>

                    <h5 class="card-title">Web developer - portfolio</h5>


                          
                        <div class='container-fluid'>
                          {{{body}}}
                        </div>


                          </main>

                      </div>
                    </div>
                  </div>

    {{> footer }}
    {{> scriptList}}

  </body>
</html>
